<div class='jumbotron'><br><h3>Welcome <%= @user.username %></h3>
    <hr>
  <div class="col-md-6" style="float:right;">
  <h4>Analytics</h4>
    <p><strong>Most commented on artist:</strong> <%= @user.most_commented_on_artist %></p>
    <p><strong>Most commented on song:</strong> <%= @user.most_commented_on_song %></p>
    <p><strong>Most commented on album:</strong> <%= @user.most_commented_on_album %></p>

  </div>
<div class="col-md-6">
<h4>Recent Notes</h4>

  <% @user.notes.each do |note| %>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <h4 class="card-title">
        “<%= link_to note.line.name, line_path(note.line) %>”
      </h4>
      <h6 class="card-subtitle mb-2 text-muted">
        From <%= link_to note.album_name, album_path(note.album) %>, by <%= link_to note.artist_name, artist_path(note.artist) %>
      </h6>
      <hr>
      <p class="card-text">
        <%= note.name %>
      </p>
    </div>
  </div>
  <% end %>
</div>

<br><br><br>

</div>
