<div class="row">
  <nav class="col-md-2 sidebar">
    <div class="sidebar-sticky" style="position:fixed;">
      <ul class="nav flex-column">
        <% @artists.each do |artist| %>
        <li class="nav-item flex-grow-1" style="margin:10px;"><strong><a href="#<%= artist.id %>"><%= artist.name %></a></strong></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="col-lg-10" style="margin-left:-15px;">
<div class="jumbotron">
    <% @artists.each do |artist| %>
    <h3 class="display-4" id="<%= artist.id %>"><%=artist.name%></h3>
    <% artist.albums.order(:name).each do |album|%>
        <p class="lead"><%=link_to album.name, album_path(album)%></p>
    <% end %>
    <hr>
    <% end %>
    </div>
    </div>
    </div>

